# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Castlevania/.vs/Castlevania/v15/Browse.VC.db
Castlevania/.vs/Castlevania/v15/Browse.VC.opendb
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/2ed2358865097fd4/BRICK.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/3461aa3c38f03b7d/MARIO.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/4d37ac964f7fa056/GAMEOBJECT.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/39d9d61a8f5f9b9f/TILEOBJECTS.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/38edc9cd4804e7f/SPRITES.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/c53630cef50c3354/GOOMBA.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/ea8530a9295e6699/TEXTURES.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/f26dd2fcf39a74a6/MAIN.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/fa1dec603b7bbb6b/GAME.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/e77cb4f089bdedd4/RESOURCEMANAGEMENT.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/67579e63d9813cc7/INPUTCONTROLLER.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/565b990eedd78253/WHIP.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/765cd37c092321d3/SIMON.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/7bf0e1cec0edabc0/SIMON.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/bf9036993a2a27c/DEBUG.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/5c7803dc435b7918/GROUND.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/f05b8adbd2c8c566/CTILEMAP.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/1f42753972e1f257/TORCH.ipch
Castlevania/Castlevania/Debug/Castlevania.Build.CppClean.log
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/4e32d02ad7dc1e88/STATICOBJECTS.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/b65e826f7182a3eb/STATICOBJECTS.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/c6cc439f46b9f5ec/TILEOBJECT.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/3b77e5984ec4d41c/ENTRYOBJECT.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/c5cb42ae1ad701eb/TILESET.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/fe43ba23335ce7db/BOUNDMAP.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/270e7ebf8a2f1aac/GHOUL.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/590ec9a1c0f3a680/ZOMBIE.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/b3c2eb51c0fe7493/ZOMBIE.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/a6073238b125519f/GHOUL.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/3f808e49924d0087/HEART.ipch
Castlevania/.vs/Castlevania/v15/ipch/AutoPCH/5741e7c651017b38/ITEM.ipch
*.ipch
*.tlog
Castlevania/Castlevania/Debug/vc141.idb
Castlevania/Castlevania/Debug/vc141.pdb
Castlevania/Castlevania/Debug/Castlevania.log
Castlevania/Release/Castlevania.iobj
*.ipdb
*.pdb
*.log
